.bcg1 {
    height: 100%;
    background-image: url(couple-on-date4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.form {
    background-color:#b7ada4;
} 

h6 {
    text-align: center;
}

.btn1 {
    margin: 15px
}